.box-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    width: 100px;
    border-radius: 5px;
    overflow: hidden;
}

.box-container span {
    word-spacing: 10;
    letter-spacing: 10px;
    font-size: 62px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    text-align: center;
    z-index: 999;
}


.left,
.right {
    background-color: #151515;
    position: absolute;
    top: 0;
    height: 50%;
    width: 48.5%;
    border-radius: 5px;
   
}

.left {
    left: 0;
}

.right {
    right: 0;
}


.left::after {
    border-radius: 5px;

    content: "";
    display: flex;
    background-color: #202020;
    position: absolute;
    height: 95%;
    /* align-self: center; */
    bottom: -100%;
    width: 100%;
}

.right::after {
    content: "";
    border-radius: 5px;
    display: flex;
    background-color: #202020;
    position: absolute;
    height: 95%;
    /* align-self: center; */
    bottom: -100%;
    width: 100%;
}